<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>    
    <script src="../../scripts/ui-grid.min.js"></script>
    <link href="../../styles/ui-grid.min.css" rel="stylesheet" />
    <script src="../../scripts/AngularControllers/UserController.js"></script>
</head>
<body ng-app="GateKpr">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div ng-view></div>
            </div>
        </div>
    </div>
</body>
</html>
